<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<button type="button" id="btn2">download</button>
        <script>
            var $eleBtn2 = $("#btn2");
            $eleBtn2.click(function(){
                var $eleForm = $("<form method='get'></form>");
                $eleForm.attr("action","https://codeload.github.com/douban/douban-client/legacy.zip/master");
                $(document.body).append($eleForm);
                //提交表单，实现下载
                $eleForm.submit();
            });
 

        </script>

        </body>
</html>